/* https://jrl.ninja/etc/1/ */
main {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}

/* .ingredient-item {
} */

/* .ingredient-checkbox {
} */

/* .ingredient-amount {
} */

.ingredient-name {
  font-weight: bold;
}

.ingredient-staple {
  font-weight: normal;
}

/* .ingredient-comment {
} */

.instruction-step {
  margin-bottom: 1.5rem;
}

.instruction-checkbox {
  zoom: 1.5;
  position: absolute;
  margin-left: -40px;
  margin-top: 6px;
}

[class^="instruction-ingredient-"] {
  font-weight: bold;
}

/* .instruction-time-duration {
  color: blue;
} */